{{ asset_add('styles.css', 'anomaly.extension.social_share_block::css/ionicons.css') }}
{{ asset_add('styles.css', 'anomaly.extension.social_share_block::css/block.css') }}
{#{{ asset_add('scripts.js', 'anomaly.extension.social_share_block::js/block.js') }}#}

<div class="social-share social-share--{{ block.position.key ?: 'default' }}">

    {% for network in block.networks.keys %}
        <a class="social-share__btn social-share__btn--{{ network }}"
           href="{{ config('anomaly.extension.social_share_block::networks.' ~ network ~ '.url')|parse }}"
           rel="nofollow"
           target="_blank">
            <i class="{{ config('anomaly.extension.social_share_block::networks.' ~ network ~ '.icon', 'ion-social-' ~ network) }}"></i>
            <span class="social-share__text">{{ trans('anomaly.extension.social_share_block::network.' ~ network ~ '.text') }}</span>
        </a>
    {% endfor %}

</div>
