{{ asset_add('styles.css', 'anomaly.extension.social_share_block::scss/icons/ionicons.scss') }}
{{ asset_add('styles.css', 'anomaly.extension.social_share_block::scss/block.scss') }}
{#{{ asset_add('scripts.js', 'anomaly.extension.social_share_block::js/block.js') }}#}

<div class="social-share">

    {% for network in block.networks.keys %}
        <a class="social-share__btn social-share__btn--{{ network }}"
           href="{{ config('anomaly.extension.social_share_block::networks.' ~ network ~ '.url')|parse }}"
           rel="nofollow"
           target="_blank">
            <i class="{{ config('anomaly.extension.social_share_block::networks.' ~ network ~ '.icon', 'ion-social-' ~ network) }}"></i>
            <span class="social-share__text">Share</span>
        </a>
    {% endfor %}

</div>
